.installations
  .row
    .col.s12.l6
      %h1.header
        = @installation.display_name
      .installation-info
        .active
          Active:
          = @installation.active
        .activated
          Activated On:
          = @installation.active_at
      .h4.disorder-header COMMON MENTAL DISORDERS
      .row.disorder-key
        - @illnesses.each do |illness|
          - illness_name = illness.name.downcase
          .col.s6.m4.l3.disorder-icon{class: illness_name}
            = link_to illness.name, resource_path(illness.id)
    .col.s12.l6
      .map
        = map(center: {latlng: [@installation.latitude, @installation.longitude], zoom: 18, zoomControl: true}, markers: @submissions.map{|sub| {latlng: [sub.latitude, sub.longitude], icon: { icon_url: "/assets/#{Illness.find_by_id(sub.illness_id).name.downcase}.png"}}}, id: 'map')
  .row
    .col.s12.m6
      .next-form.btn-large{"data-next-form":"story"} Share My Story

.submission-forms.index
  = render :partial => "submissions/submission", :locals => { :submission => Submission.new, :installation => @installation }
  = render :partial => "submissions/anecdote", :locals => { :submission => Anecdote.new, :installation => @installation }
  = render :partial => "submissions/research", :locals => { :submission => Research.new, :installation => @installation }
