%h1
  = @installation.locality
%p
  Active:
  = @installation.active
%p
  Activated On:
  = @installation.active_at
%p
  - @submissions.each do |submission|
    = Illness.find_by_id(submission.illness_id).name

= render :partial => "submissions/form", :locals => { :submission => Submission.new, :installation => @installation }

= map(center: {latlng: [51.52238797921441, -0.08366235665359283], zoom: 18, zoomControl: false}, id: 'map')
