.installations
  .row
    .s12.m4.l8
      %h1.header
        = @installation.locality
  .row.active
    .s12.m4.l8
      Active:
      = @installation.active
  .row.activated
    .s12.m4.l8
      Activated On:
      = @installation.active_at
  .row.submissions
    .s12.m6
      .h4 COMMON MENTAL DISORDERS
      .row.disorder-key
        .col.s4.m3.disorder-icon.depression depression
        .col.s4.m3.disorder-icon.anxiety anxiety
        .col.s4.m3.disorder-icon.bipolar bipolar
        .col.s4.m3.disorder-icon.adhd adhd
        .col.s4.m3.disorder-icon.dementia dementia
        .col.s4.m3.disorder-icon.ocd ocd
        .col.s4.m3.disorder-icon.schizophrenia schizophrenia
        .col.s4.m3.disorder-icon.autism autism
        .col.s4.m3.disorder-icon.ptsd ptsd
    / .s12.m6
    /   .map

= map(center: {latlng: [@installation.latitude, @installation.longitude], zoom: 18, zoomControl: false}, markers: @submissions.map{|sub| {latlng: sub.coordinates}}, id: 'map')

= render :partial => "submissions/form", :locals => { :submission => Submission.new, :installation => @installation }
