= form_for :research, html:{class: "submission-form"} do |f|
  .row
    .col.s12.m6
      .fieldset
        %h3 Help improve mental health research
        .age.input-field
          %label{for: "age"}
          = f.select :age, [["18 or younger", ""],["18-24",""],["25-34",""],["35-44",""],["45-54",""],["55-64",""],["65+",""]]
        .occupation.input-field
          = f.text_field :occupation, placeholder: "Occupation"
        .gender.input-field
          = f.text_field :gender, placeholder: "Gender Identity (optional)"
        .race.input-field
          = f.text_field :race, placeholder: "Race (optional)"
        .actions.input-field
          Thanks for your contribution! Click "Project My Story" below to share your experience with the community.class_selector
        = f.submit value: "Project My Story", class: "waves-effect waves-light btn save-research"
