!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", content: "width=device-width, initial-scale=1"}
    %title ContextualCamouflage
    = csrf_meta_tags
    = stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      :javascript
        var gaId = "#{ENV['GOOGLE_ANALYTICS']}";
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', gaId, 'auto');

  %body
    .modal#loading-modal
      .modal-content
        %h4 Please wait while your location is loading.
    %header.row
      .nav.col.s12.m6
        %ul.side-nav#slide-out
          %li
            = link_to "Installations", installations_url
          %li
            = link_to "Resources", resources_url
        = link_to '#', class: "button-collapse", "data-activates": "slide-out" do
          %i.material-icons menu
      .site-name-container.col.s12.m6
        .site-name Contextual Camouflage Click to go Home
        = link_to '', root_url, class: 'logo'
    .main
      = yield
    %footer
      .disclaimer
        %p *The content on this site is made available for education and informational purposes only and is not meant to serve as medical advice or to replace consultation with your physician or mental health professional.  If you have questions or concerns, you are advised to consult a mental health provider.
