!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ContextualCamoflage
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav#nav-menu.burgermenu-left
      %ul
        %li
          =link_to "Home", "#"
    .page-wrapper
      = link_to "Toggle Menu", "#nav-menu", id: "menu-toggle"
      = yield
